%section#todoapp
  %header#header
    %h1 todos
    %input#new-todo{:autofocus => "", :placeholder => "What needs to be done?"}
  %section#main
    %input#toggle-all{:type => "checkbox"}
    %label{:for => "toggle-all"} Mark all as complete
    %div#tasklist
      %ul#todo-list
  %footer#footer
#info
  %p Double-click to edit a todo
  %p
    Written by
    %a{:href => "https://github.com/romangurovich"} Roman Gurovich
  %p
    Based on app by
    %a{:href => "https://github.com/addyosmani"} Addy Osmani